#box {
  width: 15vw;
  height: 15vw;
  margin: 0 auto;
  overflow: hidden;
}

.n1 {
  position: absolute;
  top: 60%;
  left: 22.5%;
  transform: translate(-50%,-50%);
}

.n2 {
  position: absolute;
  top: 75%;
  left: 47.5%;
  transform: translate(-50%,-50%);
}

.n3 {
  position: absolute;
  top: 35%;
  left: 77.5%;
  transform: translate(-50%,-50%);
}

.n4 {
  position: absolute;
  top: 20%;
  left: 52.5%;
  transform: translate(-50%,-50%);
}

#blue, #black, #red, #green {
  width: 15vw;
  height: auto;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%,0%);
}
